body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.login-page {
    background-color: #f4f4f4;
    background-image: linear-gradient(135deg, #ffffffe7 10%, #7197ffbb 100%);
     background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.index-page {
    background-image: url('./assets/bgrd.png');
    background-size: cover; /* Mengatur ukuran background */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
    background-position: center 0%; /* Mengatur posisi background */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 70%;
    left: 5%;
    color: #1713C0;
    z-index: 2;
}

h1 {
    margin: 0;
    font-size: 60px; /* Ukuran font yang disesuaikan */
}

h1 strong {
    display: block; /* Membuat setiap elemen <strong> berada di baris baru */
}

.subtext {
    font-size: 35px; /* Ukuran font yang disesuaikan */
    font-weight: normal; /* Font regular */
    margin-top: 5px; /* Jarak di atas teks subtext */
    color: #8381F1;
}

.icon {
    position: absolute;
    top: 185px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.icon img {
    width: 250px;
    height: 250px;
}

.arrow {
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3; /* Pastikan arrow memiliki z-index yang lebih tinggi */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transisi untuk efek halus */
}

.arrow img {
    width: 70px;
    height: 70px;
    transition: transform 0.5s ease; /* Transisi untuk efek halus */
}

.arrow:hover {
    background-color: rgba(23, 19, 192, 0.1); /* Warna latar belakang saat hover */
    border-radius: 50%; /* Bentuk bulat saat hover */
    transform: scale(1.2); /* Membesarkan ukuran saat hover */
}

.arrow:hover img {
    transform: scale(1.1); /* Membesarkan ikon saat hover */
}

.arrow img {
    width: 70px;
    height: 70px;
}

/* CSS untuk Dot */
.dot1, .dot2, .dot3, .dot4, .dot5, .dot6, .dot7, .dot8, .dot9 {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Pastikan dot memiliki z-index yang lebih rendah */
}

.dot1 {
    width: 55px;
    height: 55px;
    background-color: #DCF2FF;
}

.dot2 {
    width: 40px;
    height: 40px;
    background-color: #5CB3EB;
}

.dot3 {
    width: 150px;
    height: 150px;
    background-color: #CCE9FB;
}

.dot4 {
    width: 180px;
    height: 180px;
    background-color: #5CB3EB;
}

.dot5 {
    width: 100px;
    height: 100px;
    background-color: #CCE9FB;
}

.dot6 {
    width: 80px;
    height: 80px;
    background-color: #EEF7FE;
}

.dot7 {
    width: 120px;
    height: 120px;
    background-color: #5CB3EB;
}

.dot8 {
    width: 110px;
    height: 110px;
    background-color: #CCE9FB;
}

.dot9 {
    width: 90px;
    height: 90px;
    background-color: #d3edff;
}

/* Responsivitas */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    .subtext {
        font-size: 25px;
    }

    .icon img {
        width: 150px;
        height: 150px;
    }

    .arrow img {
        width: 50px;
        height: 50px;
    }

    .dot1, .dot2, .dot3, .dot4, .dot5, .dot6, .dot7, .dot8, .dot9 {
        width: 70%;
        height: 70%;
    }
}

/* CSS untuk halaman login */
.box-form {
    width: 80%;
    max-width: 1200px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 20px 6px #7d7d7d85;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-direction: column;
      text-align: center;
    }
  }
  .box-form .left {
    flex: 1;
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipN5qff8QYyG2CF6dY-2DUH3wZsGy_u3hLCsR9IL=s680-w680-h510");
    position: relative;
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #5961f96a;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .box-form .right {
    flex: 1;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Menyelaraskan konten ke tengah */
    position: relative;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
      padding: 40px;
    }
  }
  .box-form .right h5 {
    font-size: 50px; /* Membuat teks lebih besar */
    margin-bottom: 30px;
    text-align: center; /* Menyelaraskan teks ke tengah */
    color: #2a75f3;
  }
  .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
    margin-bottom: 20px;
  }
  .box-form .right .inputs {
    margin-bottom: 20px;
    width: 90%; /* Menyesuaikan lebar ke 100% */
  }
  .box-form .right label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 30px;
    color: #2a75f3;
  }
  .box-form .right input {
    width: 100%;
    padding: 12px;
    margin-top: 10px; /* Menambahkan jarak antara input dan label */
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #2a75f3;
    color: #2a75f3;
  }
  .box-form .right .forget-password {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px; /* Mengurangi margin atas */
    margin-bottom: 30px;
    width: 100%; /* Menyesuaikan lebar ke 100% */
  }
  .box-form .right .forget-password a {
    text-decoration: none;
    color: #2a75f3a6;
  }
  .box-form .right .forget-password a:hover {
    color: #003590de;
  }
  
  .box-form .right button {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #2a75f3a6;
    background-image: linear-gradient(135deg, #5fa8f3 10%, #2a75f3 100%);
    align-self: flex-end;
    transition: background-color 1.5s ease;
    margin-bottom: 30px; /* Atur margin bawah untuk tombol */
  }
  .box-form .right button:hover {
    background-image: linear-gradient(135deg, #2a75f3 10%, #5fa8f3 100%);
  }

  /* Tambahkan CSS ini untuk mengatur posisi pesan error */
.box-form .right #error-message {
    position: absolute; /* Jadikan posisi absolut */
    bottom: 50px; /* Geser ke bawah agar tidak tumpang tindih dengan tombol */
    left: 0;
    width: 100%;
    text-align: center;
}
